body {
    font-family: 'Roboto', sans-serif;
}
/* #region header */
header {
    padding: 1rem 1rem;
}
.site_name {
    font-size: 2.5rem;
    font-weight: 800;
    vertical-align: top;
}
/* #endregion header */

/* main */
main {
    background-color: #f6f8f9;
}

button {
    height: 2rem;
    border-radius: 5px;
}

.add_task {
    background-color: #47adf1;
    color: white;
    border: white;
}

.add_section {
    background-color: white;
    color: #cacfd4;
    border: solid #cacfd4;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

li {
    padding: 1rem 0rem;
}



.check {
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 1px 3px;
    margin-right: 1rem;
}

.cross {
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 1px 3px;
    margin-right: 1rem;
}
/* #region label */
.label {
    color: white;
    font-size: 0.6rem;
    border: 1px;
    border-radius: 0.5rem;
    padding: 0.4rem;
    margin: 1rem;
}

#editorial {
    background-color: lightblue;
}

#q1_goals {
    background-color: plum;
}

#recruiting {
    background-color: lightgreen;
}

#mobile {
    background-color: orange;
}

#website {
    background-color: pink;
}

#sales {
    background-color: burlywood;
}
/* #endregion label */