body {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 1rem 1rem;
}

main {
    background-color: #f6f8f9;
}

button {
    height: 2rem;
    border-radius: 5px;
}

.add_task {
    background-color: #47adf1;
    color: white;
    border: white;
}

.add_section {
    background-color: white;
    color: #cacfd4;
    border: solid #cacfd4;
}

.site_name {
    font-size: 2.5rem;
    font-weight: 800;
    vertical-align: top;
}
